// @import "./variables.less";
@import "./_reset.less";
// @import "./theme/_index.less";

@keyframes light-to-dark {
  0% {
      clip-path: polygon(0 0,0 0,-14.05408vh 100%,-14.05408vh 100%)
  }

  to {
      clip-path: polygon(0 0,calc(14.05408vh + 100%) 0,100% 100%,-14.05408vh 100%)
  }
}

@keyframes dark-to-light {
  0% {
      clip-path: polygon(calc(14.05408vh + 100%) 0,calc(14.05408vh + 100%) 0,100% 100%,100% 100%)
  }

  to {
      clip-path: polygon(0 0,calc(14.05408vh + 100%) 0,100% 100%,-14.05408vh 100%)
  }
}

:root::view-transition-group(root) {
  animation-duration: 1s
}

:root::view-transition-new(root),:root::view-transition-old(root) {
  mix-blend-mode: normal
}

:root::view-transition-old(root),:root[theme-mode=dark]::view-transition-old(root) {
  animation: none
}

:root::view-transition-new(root) {
  animation-name: dark-to-light
}

:root[theme-mode=dark]::view-transition-new(root) {
  animation-name: light-to-dark
}

html :has(.shareNetdisk){
  background: var(--td-bg-color-page);
}

.canT-Select{
  *{
    user-select: none;
  }
}

.wesley-footer{
  margin-top: var(--td-comp-margin-xxxxl);
  margin-bottom: var(--td-comp-margin-xxl);
  .footer-text {
    color: var(--td-text-color-placeholder);
    line-height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none !important;
  }
}
